/* 共通 */

.list_none {
    list-style: none;
}

.character_img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

/* トップページの画像 */
.fullscreen-background {
    background-image: url("/static/text_app/img/トップページ用画像.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh; /* 画面全体に画像を配置する */
    overflow: hidden; /* 画面上部の空白を無くしてくれる */
}


/* text_app:detail_novel */

.character-radio {
    display: none;
}
.character-label {
    cursor: pointer;
}
.character-radio:checked + .character-label img {
    border: 2px solid #000;
}
.message_field {
    margin-bottom: 20px;
}

.message_field_bottom {
    margin-bottom: 10rem !important;;
}