{% extends "base.html" %}
{% block title %}小説一覧{% endblock %}
{% block contents %}
<div class="row">
    <h2>みんなの小説一覧画面</h2>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>投稿者</th>
            <th>小説名前</th>
            <th>投稿日時</th>
        </tr>
    </thead>
    <tbody>
        {% for novel in novels %}
            <tr>
                <td><a href="{% url 'text_app:detail_novel' pk=novel.pk %}">{{ novel.created_by.username }}</a></td>
                <td>{{ novel.title }}</td>
                <td>{{ novel.created_at }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock  %}